.container {
  display: flex;
  min-height: 100vh;
  background-color: var(--color-black-5);
}

.sidebar {
  width: 376px;
  background-color: var(--color-white-100);
}

@media (max-width: 1024px) {
  .sidebar {
    width: 300px;
    min-width: 300px;
  }
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}

